@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Roboto Mono', sans-serif;
}
nav{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
    background:#043961;
}
body.pageHome video{
    position: fixed;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}
body.pageEmpresa{

}
body.pageEmpresa video{
    position: fixed;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}
body.pageServicos video{
    position: fixed;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}
body.pageServicos table{
    width: 90%;
    border: 1px solid #043961;
    margin: 0 auto;
}
body.pageServicos table td{
    background: #fff;
    padding: 4px;
}
body.pageServicos table tr:nth-child(odd) td{
    background-color: #fff;
}
body.pageServicos table tr.titulo td{
    background: #62accc;
    text-align: center;
    font-size: 20px;
    text-transform: bold;
}
body.pageServicos table tr:nth-child(even) td{
    background-color: rgb(255, 231, 185);
}
body.pageContato label{
    font-size: 17px;
    text-transform: bold;
}
body.pageContato input{
    border: 2px solid #62accc;
    height: 30px;

}
body.pageContato select{
    border: 2px solid #62accc;
    height: 38px;

}
body.pageContato button{
    border: 2px solid #62accc;
    height: 30px;
}
body.pageContato input[name = "nome"]{
    width: 100%;
}
body.pageContato input[name = "foto"]{
    border: none;
}
body.pageContato input[name = "email"]{
    width: 48%
}
body.pageContato select[name = "setor"]{
    width: 48%;
}
body.pageContato input[name = "whatsapp"]{
    width: 48%;
}
body.pageContato select[name = "sexo"]{
    width: 48%;
}
body.pageContato label[name ="emailNome"]{
    margin-right: 528px;
}
body.pageContato label[name ="setorNome"]{
    margin-right: 330px;
}
body.pageContato label[name ="whatsappNome"]{
    margin-right: 498px;
}
body.pageContato textarea{
    width: 100%;
    border: 2px solid #62accc;

}
body.pageContato video{
    position: fixed;
    width: 100vw;
    height: auto;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.9;
}
.contatoArticle{
    width: 100%;
    height: 20%;
    background: rgb(255, 231, 185);
    margin: 0px 10%;
    border-radius: 18px;
    box-shadow: 0px 0px 2px 6px rgba(0,0,0,0.81);
    padding: 15px;
    display: inline-block;
}
.contatoArticle{
    margin-right: 30px;
    width: 80%;
    height: 30%;
    border: 2px solid #62accc;
    border-radius: 15px;
}
.contatoArticle.active{
    background: rgb(255, 231, 185);

}
/*body.pageServicos .lente{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;;
    opacity: 0.9;
    z-index: -1;
}*/
.logoSite{
    float: left;
    width: 100;
    color: #fff;
}
.logoBlusoft{
    margin-top: 80px;
    float: center;
}
.tituloSite{
    margin-top: 80px;
    text-align: center;
}

/* configuração navegação*/
nav a{
    display: block;
    width: auto;
    height: 55px;
    padding: 4px;
    float: left;
    line-height: 70px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    font-weight:300;
    font-size: 18px;
}

/*regras dos conteúdos*/
main{
    padding: 18px 10px;
}
/*Caso for especificar propriedade de varíavel
Exemplo: .homeArticle img,h2, etc... */
.homeArticle{
    width: 21%;
    height: 30%;
    background: #fff;
    margin: 5px 110px;
    border-radius: 18px;
    box-shadow: 0px 0px 2px 6px rgba(0,0,0,0.81);
    padding: 15px;
    display: inline-block;
}
.homeArticle{
    margin-right: 30px;
    border: 2px solid #62accc;
    border-radius: 15px;
}
.homeArticle.active{
    background: rgb(255, 231, 185);

}
.homeArticle img{
    float: left;
    height: 70px;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #20576C;
    border-radius: 15px;

}
.homeArticle h2{
    font-family: 'Roboto Mono';
    font-size: 23;
    color: rgb(0, 99, 48)
}
.homeArticle p{
    font-style: italic;
    text-align: justify;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 0px;
    text-indent: 20px;
    font-size: 17px;
}
.homeArticle a{
    display: block;
    width: auto;
    padding: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #20576C;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    float: right;
}
.homeArticle a:hover{
    background: rgb(40, 35, 35);
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 11px;
}
.empresaArticle{
    width: 100%;
    height: 20%;
    background: rgb(255, 231, 185);
    margin: 0px 10%;
    border-radius: 18px;
    box-shadow: 0px 0px 2px 6px rgba(0,0,0,0.81);
    padding: 15px;
    display: inline-block;
}
.empresaArticle{
    margin-right: 30px;
    width: 80%;
    height: 30%;
    border: 2px solid #62accc;
    border-radius: 15px;
}
.empresaArticle.active{
    background: rgb(255, 231, 185);

}
.empresaArticle li{
    list-style: none;
    margin: 0px 0%;
    
}
.empresaArticle img{
    float: left;
    height: 70px;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #20576C;
    border-radius: 15px;

}
.empresaArticle h2{
    font-family: 'Roboto Mono';
    font-size: 23;
    color: rgb(0, 99, 48)
}
.empresaArticle p{
    font-style: italic;
    text-align: justify;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 1px;
    text-indent: 20px;
    font-size: 17px;
}
.carousel{
    width: 99%;
    margin: 0px;
    padding: 0px;
    background: #457285;
    overflow: hidden;
    border: 8px solid #001620;
}
.carousel img{
    margin: 0;
    width: 100%;
    height: 287px;
}
.carousel li{
    width: 22%;
    list-style: none;
    margin: 1%;
    display: inline-block;
}
body.pageServicos table{
    width: 90%;
    margin: 0 auto;

}
footer{
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    background: rgb(37, 54, 74);
}
footer span{
    display: inline-block;
    width: 41%;
    padding: 10px;
    color: rgb(136, 151, 163);
}
footer .assinatura{
    text-align: right;
}
footer .assinatura a{
    color: rgb(13, 11, 100);
    text-decoration: none;
    padding-left: 25px;
}

